*{
  margin:0;
  padding: 0;
  
}
.container {
  width:100px;
  background-color: rgb(168, 207, 246);

}
 .image_container{
  margin-left: 15px;
 }
 .content {
  max-width: 900px;
  margin: 0 auto;
 }
.top_section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
