*{
  padding:0px;
  margin:0px;
}
nav a{
  text-decoration: none;
}
nav{
  background-color: darksalmon;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  height:25px;
}
img{
  height: 100px;
}
#image_container{
  border: 2px solid pink ;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box_container{
  border: 2px solid cornflowerblue;
  display: flex;
  justify-content: space-around;
  height:80px;
  width:500px;
}
.box{
  height:75px;
  width:75px;
  margin:5px;
  flex-shrink:0px ;
}
#box1{
  background-color: lightcoral;
  display: flex;
}
#box2{
  background-color: lightgreen;
}
#box3{
  background-color: mediumslateblue;
  flex-shrink: 2px;
}